# Xcode
build/
DerivedData/
*.moved-aside
*.xcuserstate
*.xcuserdatad

# macOS
.DS_Store

# Firebase (Crucial if your repo is public)
MediChain/GoogleService-Info.plist

# Swift Package Manager
.swiftpm/xcpkgany
.build/