//
//  Config.xcconfig
//  MediChain
//
//  Created by mehedi hasan on 8/3/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
GEMINI_API_KEY = AIzaSyAR87Q-guivukY_0bEkbaElL87wReNoCxs
